<div id="sidebar" class="col-xs-6 col-sm-4 col-md-3 sidebar-offcanvas">
    <div class="sidebar-content">
        <h1 class="sidebar-heading"><a href="/">{{ .Site.Title }}</a></h1>
        {{ range .Site.Params.sidebarAbout }}
        <p class="sidebar-p">{{ . | safeHTML }}</p>
        {{ end }}
        <!-- Button trigger modal -->
        <p class="sidebar-p">I recently got certified from FreeCodeCamp.<br/> My <a style="cursor:pointer" data-toggle="modal" data-target=".certificate-modal">Frontend Developer Certificate</a></p>


        <ul class="sidebar-menu">
            {{ $url := .Site.BaseURL }} {{ range .Site.Params.navlinks }}
            <li><a href="{{ $url }}{{ .url }}">{{ .name }}</a></li>
            {{ end }}
        </ul>
        {{ partial "social_buttons_in_sidebar.html" . }}

        <div class="copyright">
            <p class="credit">
                {{ with .Site.Params.copyright }} {{ . | safeHTML }} {{ end }} {{ partial "attribution.html" . }}
            </p>
        </div>
    </div>
</div>